<h1>Surgery for: <%= @surgery.title %></h1>
<h3>Scheduled for: <%= @surgery.weekday %></h3>
<h3>Room #<%= @surgery.or_number %></h3>
<section class="all-docs">
  <ul>
    <% @surgery.doctors.each do |doc| %>
      <li><%= doc.name %> - <%= doc.years_practiced %> years</li>
    <% end %>
  </ul>
</section>
<section class="most">
  <h2>Most Experienced Doctor</h2>
  <h3><%= @surgery.most_xp.name %> - <%= @surgery.most_xp.years_practiced %> years</h3>
</section>
<section class="least">
  <h2>Least Experienced Doctor</h2>
  <h3><%= @surgery.least_xp.name %> - <%= @surgery.least_xp.years_practiced %> years</h3>
</section>
<section id="new_doc">
  <%= form_with url: surgery_doctors_path(@surgery), method: :post, local: true do |f| %>
    <%= f.text_field :name, placeholder: 'Add a doctor to this surgery' %>
    <%= f.submit 'Add Doctor' %>
  <% end %>
</section>
